@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e907";
}
.icon-envelope-o:before {
  content: "\e906";
}
.icon-home:before {
  content: "\e904";
}
.icon-pinterest-p:before {
  content: "\e902";
}
.icon-heart-o:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e900";
}
.icon-music:before {
  content: "\e911";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-bubbles4:before {
  content: "\e970";
}
.icon-search:before {
  content: "\e986";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-pinterest:before {
  content: "\ead1";
}
